# Step by Step SQL Tutorial in Jupyter notebook

## Install necessary packages with specific versions

In [ ]:
# commnt out these lines and run them in case they're not install on your system

# !pip install -U pandas==2.0.0

# !pip install -U sqlalchemy==2.0.10

# !pip install -U pandasql==0.7.3

## Import required packages

In [ ]:
import pandas as pd
import sqlalchemy
from pandasql import sqldf

## Load Data from csv files into pandas DataFrame

In [ ]:
customers = pd.read_csv('customers_data.csv')
products = pd.read_csv('products_data.csv')
orders = pd.read_csv('orders_data.csv')
order_details = pd.read_csv('order_details_data.csv')

Let's check DataFrames contents and et familiar with their features and some data

In [ ]:
customers.head(2)

In [ ]:
products.head(2)

In [ ]:
orders.head(2)

In [ ]:
order_details.head(2)

From now we assume each DataFrame as a Table and try to execute queries on them

Each step consists of a query and a result

## Retrive Data from Tables

### Simplest select query

In [ ]:
sqldf("select * from customers")

### Limit the result

In [ ]:
sqldf("select * from customers limit 3")

### Retrive specific columns

In [ ]:
sqldf("select code, name, email from customers limit 4")

### Filter the result with a condition

In [ ]:
sqldf("select * from customers where country='GR'")

In [21]:
sqldf("select * from customers where country='GR' limit 3")

,code,name,address,city,state,zipcode,country,phone,email
0,3,Heather Haley,04301 Mark Corners Apt. 067,Lake Rebecca,FM,53055,GR,716.688.2313x1017,cbutler@example.com
1,184,Ashley Wright,60471 John Forest,Curtismouth,GU,50837,GR,001-114-465-6518x984,kyleporter@example.com
2,214,Jorge Moore,37849 Kent Overpass Apt. 257,Mcdanielport,MD,89945,GR,990.994.8360x4565,katherinenolan@example.org

In [23]:
sqldf("select * from customers where name like 'H%'")

,code,name,address,city,state,zipcode,country,phone,email
0,3,Heather Haley,04301 Mark Corners Apt. 067,Lake Rebecca,FM,53055,GR,716.688.2313x1017,cbutler@example.com
1,130,Hunter Sanchez,274 Samuel Flat,East Joshua,TN,29568,VU,001-208-196-9343,rosalesvalerie@example.net
2,253,Henry Brewer,887 Hampton Streets,Port Davidberg,MT,19721,LK,623-845-5284x8165,jennashort@example.org
3,322,Haley Myers DVM,396 Chelsey Ways Suite 417,Ramirezfurt,TN,59813,BN,365-330-9196,todd66@example.com
4,386,Hannah Shaw,407 Gabriella Views Apt. 062,West Dianebury,WV,54371,CV,+1-188-026-6742x4559,chankeith@example.net
5,423,Heather Perez,0836 Laura Ridges,Gutierrezberg,MP,62180,BI,315.540.0213x30250,andreamoran@example.org
6,473,Hector Barton,0100 David Neck Apt. 369,New Brandontown,FL,26929,UY,683.689.3090x57620,johnsonsarah@example.com
7,658,Holly Alvarado,01227 Taylor Heights Suite 723,Shawnside,VT,6300,CF,420-980-8295,jmartin@example.com
8,668,Holly Brown,1848 Madison Viaduct,Christineton,ME,2946,CR,527.966.8861,jamescooper@example.net
9,690,Henry King,6605 Kelley Track Suite 108,East Johnfurt,IN,11148,AF,495-270-6144x11126,paulbrown@example.com
10,707,Hannah Nguyen,65983 Long Skyway Suite 575,Elliottfurt,WI,82018,RW,391-265-3944x1659,bjohnson@example.org
11,759,Harry Farmer,84163 Williams Islands,Elliottmouth,VA,91715,UG,(879)919-2650,tonya76@example.com
12,868,Heather Dixon,46885 Collins Junction,Anneside,NJ,59489,RS,7094979351,markscalvin@example.net
13,869,Haley Ramsey,4702 Mary Wall Apt. 943,Kristinaton,IA,39979,SV,(974)017-7724,fsims@example.org
14,953,Heather Nolan,284 Cynthia Ports,North Carlborough,SD,17384,LA,(044)240-1121x866,carolyngreene@example.com
15,1066,Heidi Cole,016 Beasley Knoll Apt. 443,Feliciatown,UT,24888,FI,099-567-6690,hartmanandrea@example.net
16,1107,Hannah Hart,30879 Michael Cape,Woodsburgh,FL,74979,MY,870-983-3549,paul79@example.com
17,1118,Hannah Love,35921 Jesus Row,Tapiamouth,MA,20130,SL,001-029-650-9081x343,carolinemyers@example.com
18,1201,Heather Smith,05937 Colin Dale Suite 632,Russellborough,SC,62308,JO,+1-069-213-8556x56255,brendan78@example.org
19,1215,Heather Payne,17279 Jessica Hills Apt. 778,Port Robertview,PA,24674,EE,(386)263-1239x8571,dylanneal@example.org
20,1282,Heather Hill,64753 Phillip Plains,Port Michelleside,AL,83217,MM,887.196.8608x785,dchandler@example.net
21,1497,Hannah Hamilton,90587 Horn Tunnel Apt. 647,Lake Toni,CO,27029,SG,(217)706-7973x42060,lorimay@example.org
22,1553,Haley Cruz,52432 Jared Radial,East Christineville,NV,27663,LI,(717)026-3664,shirley38@example.org
23,1595,Heidi Owen,60630 Walker Junction,East Dana,TX,42571,GY,001-254-603-1998,paulgordon@example.org
24,1645,Heather Green,8510 Shannon Cape Suite 123,West Jackborough,AR,3431,NR,(470)638-0962x606,davisharry@example.com
25,1685,Holly Kelley,84294 Brennan Field,Armstronghaven,AR,44933,MN,+1-828-628-0767x20282,ryan73@example.net
26,1699,Heather Barker,526 Virginia Divide,Mcmahonberg,CO,81923,IN,001-044-899-6522x03133,eedwards@example.org
27,1701,Hannah Hall,96357 Chandler Mill,South Janetmouth,RI,10754,BS,931-026-0956x6340,lindseymiranda@example.com
28,1714,Harold Marquez,4409 Kenneth Forest,New Benjamin,FL,94469,IN,001-334-478-2878x763,frank64@example.org
29,1742,Holly Turner,1790 Carrie Crescent Apt. 251,South Cody,OH,3956,TG,948.166.4179,michaelmclean@example.org
30,1753,Harold Brown,03821 Richardson Fall Apt. 376,South Christinafurt,NJ,65400,NP,(898)821-8184,kathleen04@example.com
31,1815,Henry Bell,2299 Garrett Island,Codyville,NM,31482,GW,+1-340-179-7562x43849,rebeccathomas@example.com
32,1948,Heather Jennings,8378 Boone Manors,Port Janet,DE,84691,CO,526.605.4957x7859,monique62@example.com

In [27]:
sqldf("select * from customers where country='IN' and name like 'H%'")

,code,name,address,city,state,zipcode,country,phone,email
0,1699,Heather Barker,526 Virginia Divide,Mcmahonberg,CO,81923,IN,001-044-899-6522x03133,eedwards@example.org
1,1714,Harold Marquez,4409 Kenneth Forest,New Benjamin,FL,94469,IN,001-334-478-2878x763,frank64@example.org

In [30]:
sqldf("select count(*) from customers where email like '%@example.org'")

   count(*)
0       667

In [31]:
sqldf("select count(*) as dotOrgEmailsCount from customers where email like '%@example.org'")

   dotOrgEmailsCount
0                667

### Limit the result

### Limit the result

In [ ]:
sqldf("select * from customers")

### Limit the result

In [ ]:
sqldf("select * from customers")